﻿<div ng-controller="benefitsController as vm" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
        <div>
            <md-input-container>
                <label>Employee Name</label>
                <input type="text" ng-model="vm.employee.name" />
            </md-input-container>
        </div>
    </md-content>

    <md-content flex="" layout-padding="">
        <form name="userForm">
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Add Dependents</span>&nbsp;
                    <md-button class="md-fab md-mini md-primary" aria-label="Add dependents" ng-click="vm.addDependent()">
                        <i class="material-icons md-36">add</i>
                    </md-button>
                </h2>
            </md-toolbar>

            <md-content>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="dependent in vm.dependents">
                        <div class="md-list-item-text">
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Dependent name</label>
                                    <input type="text" ng-model="dependent.name" ng-keyup="vm.watchKey($index, $event, dependent)" />
                                </md-input-container>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>

                <md-input-container class="md-block md-3-line">
                    <md-button class="md-primary md-raised" ng-click="vm.calculateBenefits()">Calculate</md-button>
                </md-input-container>
            </md-content>
        </form>

        <benefit-results ng-if="vm.amount" amount="vm.amount"></benefit-results>
    </md-content>
</div>