﻿<div>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Cost and discount</h2>
        </div>
    </md-toolbar>
    <md-content flex="" layout-padding="">
        <md-list>
            <md-list-item>
                Benefits cost per year: {{ amount.yearlyCost | currency:"$" }}
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                Benefits discount per year: {{ amount.yearlyDiscount | currency:"$" }}
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                Benefits cost per pay period: {{ amount.perPeriodCost | currency:"$" }}
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                Benefits discount per pay period: {{ amount.payPeriodDiscount | currency:"$" }}
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                Yearly income after deduction: {{ amount.yearlyIncomeAfterDeduction | currency:"$" }}
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                Income per period after deduction: {{ amount.payPeriodIncomeAfterDeduction | currency:"$" }}
            </md-list-item>
        </md-list>
    </md-content>
</div>